{% extends 'base.html' %}

{% block content %}

<div class="container my-3">
<h4>질문 수정 화면</h4>
<form method="post" class="my-4" enctype="multipart/form-data">
    {{form.csrf_token}}
    {% include "form_errors.html" %}

    <input type="hidden" name="file_path" value="{{form.file_path.data or  ''}}">
    <input type="hidden" id="del_img" name="del_img" value="1">
    
    <input type="hidden" name="user_id" value="{{g.user.id}}">   <!-- 추가 -->

    <div class="mb-3">
        <label for="subject" class="form-label">제목</label>
        <input class="form-control" id="subject" name="subject" value="{{form.subject.data or ''}}">
    </div>

    <div class="mb-3">
        <label for="file" class="form-label">첨부파일</label>
        <input type="file" class="form-control" id="file" name="file" value="{{form.file_path.data or ''}}">
    </div>

    <div class="mb-3">
        <img width="30%" height="30%" src="{{form.file_path.data or ''}}" alt="첨부된 파일">
        <button type="button" id="btn_del_attach">첨부파일 삭제</button>
      </div>

    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea class="form-control" name="content" id="content" rows="10">{{form.content.data or ''}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">수정</button>
</form>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $("#btn_del_attach").click(function(){
        $("#del_img").val(-1)
        $('[alt="첨부된 파일"]').remove();
    });
});

</script>
{% endblock %}