{% extends "base.html" %}

{% block content %}
<div class="container">

    {% for covid in form %}
    <div class="card" display="inline-block;" style="width: 25rem; height: 25rem; display:inline-block; margin-right:20px;">
        <div class="card-body">
            <h5 class="card-title">{{covid.title}}</h5>
            <p class="card-text">{{covid.content}}</p>
            <img style="width: 23.89rem; height: 13rem;" src="{{url_for('static', filename=covid.img)}}" alt="첨부된 사진">
            <div class="d-flex justify-content-bottom my-2">
                <a href="{{url_for('main.index')}}" class="card-link">뒤로 돌아가기</a>
                <a href="{{url_for(covid.href)}}" class="card-link">자세히 보기</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}